@model medicamento.Models.ShoppingCart.OrderModel

@{
	ViewData["Title"] = "Order Details";
}

<header class="page-header page-header-compact page-header-light border-bottom mb-4 bg-white">
	<div class="container-xl px-4">
		<div class="page-header-content">
			<div class="row align-items-center justify-content-between pt-3">
				<div class="col-auto mb-3">
					<h1 class="page-header-title">
						<div class="page-header-icon"><i data-feather="eye"></i></div>
						Edit Order
					</h1>
				</div>
				<div class="col-12 col-xl-auto mb-3">
					<a class="btn btn-sm btn-light text-primary" asp-action="Index">
						<i class="me-1" data-feather="arrow-left"></i>
						Back to Order List
					</a>
				</div>
			</div>
		</div>
	</div>
</header>

<div class="container-xl mt-4 px-4">
    <div class="step step-secondary mb-5">
        <div class="step-item">
            <a class="step-item-link" href="#!">Order Placed</a>
        </div>
        <div class="step-item">
            <a class="step-item-link" href="#!">Packed</a>
        </div>
        <div class="step-item active">
            <a class="step-item-link" href="#!">Shipped</a>
        </div>
        <div class="step-item">
            <a class="step-item-link disabled" href="#!" tabindex="-1" aria-disabled="true">Delivered</a>
        </div>
    </div>
	<div class="row">
		<div class="col-xl-8">
			<div class="card mb-4">
                <div class="card-header bg-secondary text-white">Item From Order #@Model.OrderId</div>
				<div class="card-body">
					<table class="table-striped table" id="dataTable">
						<thead>
							<tr>
								<th>Item</th>
								<th>Quantity</th>
								<th>Price</th>
								<th>Total</th>
							</tr>
						</thead>

						<tbody>
							@foreach (var item in Model.OrderDetails.ToList())
							{
								<tr>
									<td>
										@Html.DisplayFor(modelItem => item.Medicine.des_comercial)
									</td>
									<td>
										@Html.DisplayFor(modelItem => item.Quantity)
									</td>
									<td>
										@Html.DisplayFor(modelItem => item.UnitPrice) €
									</td>
									<td>
										@item.TotalPrice()
									</td>
								</tr>
							}
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="col-xl-4">
			<div class="card mb-xl-0 mb-4">
				<div class="card-header bg-secondary text-white">Order Summary</div>
				<div class="card-body">

					<table class="table">
						<thead>
							<tr>
								<th scope="col">Description</th>
								<th scope="col">Price</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>SubTotal</td>
								<td>@(Model.OrderDetails.Sum(x => x.UnitPrice)) €</td>
							</tr>
							<tr>
								<td>Tax</td>
								<td>@((Model.OrderDetails.Sum(x => x.UnitPrice) * 0.21m).ToString("0.00")) €</td>
							</tr>
							<tr class="fw-bold">
								<td>Total</td>
								<td>@(Model.OrderDetails.Sum(x => x.UnitPrice) + (Model.OrderDetails.Sum(x => x.UnitPrice) * 0.21m).ToString("0.00")) €</td>
							</tr>
						</tbody>
					</table>

				</div>

			</div>
		</div>
	</div>

</div>