@model medicamento.Models.ShoppingCart.OrderModel

@{
    ViewData["Title"] = "Details";
}

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Order Details</h1>
    <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
        <i class="fas fa-download fa-sm text-white-50"></i> Generate Report
    </a>
</div>

<div class="row justify-content-center">
    <div class="col-lg-7 col-md-10 col-sm-11">

        <div class="horizontal-steps mb-4 mt-4 pb-5">
            <div class="horizontal-steps-content">
                <div class="step-item">
                    <span data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-original-title="20/08/2018 07:24 PM">Order Placed</span>
                </div>
                <div class="step-item current">
                    <span data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-original-title="21/08/2018 11:32 AM">Packed</span>
                </div>
                <div class="step-item">
                    <span>Shipped</span>
                </div>
                <div class="step-item">
                    <span>Delivered</span>
                </div>
            </div>

            <div class="process-line" style="width: 33%;"></div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-8">
        <div class="card mb-4 shadow">
            <div class="card-header py-3">
                <h6 class="font-weight-bold text-primary m-0">ITEM FROM ORDER #@Model.OrderId</h6>
            </div>
            <div class="card-body">
                @* <div class="table-responsive"> *@
                <table class="table-striped table" id="dataTable">
                    <thead>
                        <tr>
                            <th>Item</th>
                            <th>Quantity</th>
                            <th>Price</th>
                            <th>Total</th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var item in Model.OrderDetails.ToList())
                        {

                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Medicine.des_comercial)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Quantity)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.UnitPrice) €
                                </td>
                                <td>
                                    @item.TotalPrice()
                                    @* @Html.DisplayFor(modelItem => item.TotalPrice()) € *@
                                </td>
                            </tr>

                        }
                    </tbody>
                </table>




                @* </div> *@
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card mb-4 shadow">
                <div class="card-header py-3">
                    <h6 class="font-weight-bold text-primary m-0">ORDER SUMMARY</h6>
                </div>
                <div class="card-body">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <div class="card mb-4 shadow">
                <div class="card-header py-3">
                    <h6 class="font-weight-bold text-primary m-0">SHIPPING INFORMATION</h6>
                </div>
                <div class="card-body">
                    <address class="font-14 address-lg mb-0">
                        795 Folsom Ave, Suite 600<br>
                        San Francisco, CA 94107<br>
                        <abbr title="Phone">P:</abbr> (123) 456-7890 <br>
                        <abbr title="Mobile">M:</abbr> (+01) 12345 67890
                    </address>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card mb-4 shadow">
                <div class="card-header py-3">
                    <h6 class="font-weight-bold text-primary m-0">BILLING INFORMATION</h6>
                </div>
                <div class="card-body">
                    <ul class="list-unstyled mb-0">
                        <li>
                            <p class="mb-2">
                                <span class="fw-bold me-2">Payment Type:</span>
                                Credit Card
                            </p>
                            <p class="mb-2">
                                <span class="fw-bold me-2">Provider:</span> Visa
                                ending in 2851
                            </p>
                            <p class="mb-2">
                                <span class="fw-bold me-2">Valid Date:</span>
                                02/2020
                            </p>
                            <p class="mb-0"><span class="fw-bold me-2">CVV:</span> xxx</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card mb-4 shadow">
                <div class="card-header py-3">
                    <h6 class="font-weight-bold text-primary m-0">BILLING INFORMATION</h6>
                </div>
                <div class="card-body">
                    <div class="text-center">
                        <i class="fas fa-truck"></i>
                        <h5><b>UPS Delivery</b></h5>
                        <p class="mb-1"><b>Order ID :</b> xxxx235</p>
                        <p class="mb-0"><b>Payment Mode :</b> COD</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
