@model IEnumerable<medicamento.Models.ShoppingCart.OrderModel>

@{
    ViewData["Title"] = "Index";
}

<header class="page-header page-header-compact page-header-light border-bottom mb-4 bg-white">
	<div class="container-fluid px-4">
		<div class="page-header-content">
			<div class="row align-items-center justify-content-between pt-3">
				<div class="col-auto mb-3">
					<h1 class="page-header-title">
						<div class="page-header-icon"><i data-feather="file-text"></i></div>
						Oder List
					</h1>
				</div>
			</div>
		</div>
	</div>
</header>
<div class="container-fluid px-4">
	<partial name="_ErrorAlert" />
	<div class="card">
		<div class="card-body">
			<table id="dataTable">
				<thead>
					<tr>
						<th>Id</th>
						<th>Email</th>
						<th>User Name</th>
						<th>Address</th>
						<th>Date</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var item in Model)
					{
						<tr>
							<td>@Html.DisplayFor(modelItem => item.OrderId)</td>

							<td>@Html.DisplayFor(modelItem => item.Email)</td>
							<td>@Html.DisplayFor(modelItem => item.Username)</td>
							<td>@Html.DisplayFor(modelItem => item.Address)</td>
							<td>@Html.DisplayFor(modelItem => item.OrderDate)</td>
							<td>
								<a class="btn btn-datatable btn-icon btn-transparent-dark me-2" asp-action="Details" asp-route-id="@item.OrderId"><i data-feather="eye"></i></a>
								<a class="btn btn-datatable btn-icon btn-transparent-dark me-2" asp-action="Edit" asp-route-id="@item.OrderId"><i data-feather="edit"></i></a>
								<a class="btn btn-datatable btn-icon btn-transparent-dark" asp-action="Delete" asp-route-id="@item.OrderId"><i data-feather="trash-2"></i></a>
							</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
	</div>
</div>
