@model medicamento.Models.Medicine.PrescripcionModel

<div class="card mb-4 shadow">
	<div class="card-header py-3">
		<h6 class="font-weight-bold text-primary m-0">@Model.des_comercial</h6>
	</div>
	<div class="card-body">
		<div class="row">
			<div class="col-md-4">
				<img src="@Url.Content(Model?.img_envase)" alt="Image" class="img-fluid" />
				<p class="card-text"><small class="text-muted">@Model?.fecha_comercializado.ToString("dd/MM/yyyy")</small></p>
			</div>
			<div class="col-md-8">
				<h5 class="card-title">@Model?.des_presentacion</h5>
				<p class="card-text">@Model?.laboratorio</p>
				<p class="card-text">Active Ingredients: @Model?.principios_activos</p>

				<ul>
					@foreach (var pa in @Model?.principios_activos.Split('#'))
					{
						<li>@pa</li>
					}
				</ul>

				<p class="card-text">Excipients: @Model?.excipientes</p>
				<ul>
					@foreach (var ex in @Model?.excipientes.Split('#'))
					{
						<li>@ex</li>
					}
				</ul>


				<p class="card-text">Recipe: @Model?.receta</p>
				<p class="card-text">Commercialized: @Model?.comercializado</p>
				<a href="@Url.Content(Model?.url_ficha)" class="btn btn-primary">Ficha Técnica</a>
				<a href="@Url.Content(Model?.url_prospecto)" class="btn btn-secondary">Prospecto</a>
			</div>
		</div>
	</div>
</div>
<div>

	<a asp-controller="ShoppingCart" asp-action="AddToCart" asp-route-id="@Model?.cod_nacional" class="btn btn-success btn-icon-split">
		<span class="icon text-white-50">
			<i class="fas fa-shopping-cart"></i>
		</span>
		<span class="text">Add to cart</span>
	</a>
	@*     <a asp-action="Edit" asp-route-id="@Model?.cod_nacional">Edit</a> |
    <a asp-action="Index">Back to List</a> *@
</div>