@model IEnumerable<medicamento.Models.Medicine.PrescripcionModel>

@{
	ViewData["Title"] = "Medicine management";
}

<header class="page-header page-header-dark bg-gradient-default pb-10">
    <div class="container-xl px-4">
        <div class="page-header-content pt-4">
            <div class="row align-items-center justify-content-between">
                <div class="col-auto mt-4">
                    <h1 class="page-header-title">
                        <div class="page-header-icon"><i data-feather="filter"></i></div>
                        Medicine list
                    </h1>
                    <div class="page-header-subtitle">An extension of the Simple DataTables library, customized for SB Admin Pro</div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main page content-->
<div class="container-xl mt-n10 px-4">
    <div class="card mb-4">
        <div class="card-header">Extended DataTables</div>
        <div class="card-body">
			<table id="dataTable">
                <thead>
                    <tr>
						<th>Code</th>
						<th>Name</th>
						<th>Laboratory</th>
						<th>Active Substance</th>
						<th>Excipients</th>
						<th>Actions</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
						<th>Code</th>
						<th>Name</th>
						<th>Laboratory</th>
						<th>Active Substance</th>
						<th>Excipients</th>
						<th>Actions</th>
                    </tr>
                </tfoot>
                <tbody>
					@foreach (var item in Model)
					{
						<tr>
							<td>
								@Html.DisplayFor(modelItem => item.cod_definitivo)
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.des_comercial)
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.laboratorio)
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.principios_activos)
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.excipientes)
							</td>
							<td>
								<a asp-action="Details" asp-route-id="@item.cod_nacional"class="btn btn-datatable btn-icon btn-transparent-dark me-2"><i class="fa-solid fa-eye"></i></a>
								<button class="btn btn-datatable btn-icon btn-transparent-dark"><i class="fa-regular fa-trash-can"></i></button>
							</td>
						</tr>
					}
                </tbody>
			</table>
		</div>
	</div>
</div>